.profile-content {
  width: 50em;
  max-width: 100%;
  margin: auto auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 5em;
}

.desc {
  width: 60%;
  margin: auto auto;
}

.container-hero h1 {
  font-family: "Monda", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

.container-hero a {
  text-decoration: none;
}

/* purgecss start ignore */
@tailwind base;

h1 {
  @apply text-3xl font-thin leading-loose;
}

h2 {
  @apply text-2xl font-thin leading-loose;
  text-align: center;
}

h3 {
  @apply text-xl font-thin leading-loose;
}

h4 {
  @apply font-semibold;
}

ul {
  @apply list-disc;
  @apply list-inside;
}

p {
  @apply mb-1;
}

article a {
  @apply text-blue-600 underline;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.panel-error {
  @apply bg-red-700 text-white font-bold py-2 px-4 rounded;
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.react-calendar {
  margin-top: 9vh;
  /* margin-bottom: 2vh; */
  width: 80vw;
  max-width: 100%;
  background: #f0f2ac;
  /* border:4px solid #a0a096; */
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px #f0f2ac;
  font-family: "Sigmar One", cursive;
  line-height: 1.125em;
  margin: 0 auto;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #14a76c;
  border-radius: 5px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(255, 119, 62);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__tile:disabled {
  background-color: #14a76c;
  border-radius: 20px;
}

.react-calendar__tile:enabled:hover {
  background-color: #14a76c;
  border-radius: 20px;
}

.dateTime {
  margin: auto 5px;
}

.dateTopBar {
  display: flex;
  background-color: #272727;
}

html {
  font-family: "Monda", sans-serif;
  /*select font later*/
}

.container-hero {
  text-align: center;
  margin: 0 auto;
  display: grid;
  place-items: center;
  height: 90vh;
}


.container-hero h1 {
  font-size: 5rem;
  line-height: 1;
}

.container-hero p {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0.5rem 0 1rem 0;
}

.container-hero:nth-child(4) {
  font-size: 1rem;
}

.container-hero button {
  padding: 1rem 3rem;
  font-weight: 700;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.Learnmore {
  font-size: 1rem;
}

.Divider {
  width: 5rem;
  height: 4px;
  background-color: rgb(66, 153, 225);
  margin: 1rem auto;
}

.container-hero:nth-child(4) {
  font-size: 1rem;
}

.container-hero button {
  padding: 1rem 3rem;
  font-weight: 700;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.container-hero button {
  padding: 1rem 3rem;
  font-weight: 700;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.Learnmore {
  font-size: 1rem;
}

.Divider {
  width: 5rem;
  height: 4px;
  background-color: rgb(66, 153, 225);
  margin: 1rem auto;
}

.container-about {
  text-align: center;
  margin: 0px;
  display: grid;
  place-items: center;
  min-height: 250px;
  background-color: rgb(66, 153, 225);
  color: white;
  padding: 5rem 0;
}

.container-about .Divider {
  background-color: white;
}

.container-features {
  padding: 5rem 0;
}

.container-features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  max-width: 1200px;
  margin: 4rem auto;
}

.container-features-grid div img {
  margin: 0 auto;
  width: 50%;
  max-height: 100px;
}

.container-features-grid div {
  display: grid;
  justify-self: center;
  text-align: center;
}

.container-features-grid p {
  padding: 1em;
}

footer {
  text-align: center;
}

.react-calendar {
  position: relative;
  top: 1vh;
  margin: auto;
}

.react-calendar {
  /* margin-bottom: 2vh; */
  width: 80vw;
  max-width: 100%;
  background: #f0f2ac;
  /* border:4px solid #a0a096; */
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px #f0f2ac;
  font-family: "Sigmar One", cursive;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #14a76c;
  border-radius: 5px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color:rgb(255, 119, 62);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__tile:disabled {
  background-color: #14a76c;
  border-radius: 20px;
}

.react-calendar__tile:enabled:hover {
  background-color: #14a76c;
  border-radius: 20px;
}

.dateTime {
  margin: auto 5px;
}

.dateTopBar {
  display: flex;
  background-color: #272727;
}

.eventNote {
  border: 1px solid rgb(255, 119, 62);
}

.everythinghasamarginnote {
  margin: 5px;
}

#displayNotes {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#eventHolder {
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 75%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  background-color: rgba(179, 189, 191, 0.15);
}

@media only screen and (max-width: 1200px) {
  .container-features-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }
}

@media only screen and (max-width: 600px) {
  .container-features-grid {
    grid-template-columns: 1fr;
  }
}

.react-calendar {
  position: relative;
  top: 1vh;
  margin: auto;
}

.react-calendar {
  /* margin-bottom: 2vh; */
  width: 80vw;
  max-width: 100%;
  background: #f0f2ac;
  /* border:4px solid #a0a096; */
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px #f0f2ac;
  font-family: "Sigmar One", cursive;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #14a76c;
  border-radius: 5px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(255, 119, 62);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  font-size: 2em;
  font-family: "Sigmar One", cursive;
}

.react-calendar__tile:disabled {
  background-color: #14a76c;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px white;
  font-family: "Sigmar One", sans;
  line-height: 1.125em;
  margin: 0 auto;
}

.react-calendar__tile:enabled:hover {
  background-color: #14a76c;
  border-radius: 20px;
}

.dateTime {
  margin: auto 5px;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.dateTopBar {
  display: flex;
  background-color: #272727;
}

.eventNote {
  border: 3px solid rgb(255, 119, 62);
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 2em;
  font-family: "sans-serif", "sans-serif";
}
.react-calendar__navigation button:enabled:hover {
  background-color: rgb(66, 153, 225);
  border-radius: 5px;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: "sans-serif", "sans-serif";
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__days__day--weekend {
  color: red;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  font-size: 2em;
  font-family: "sans-serif", "sans-serif";
}
.react-calendar__tile:disabled {
  background-color: rgb(66, 153, 225);
  border-radius: 20px;
}
.react-calendar__tile:enabled:hover {
  background-color: rgb(66, 153, 225);
  border-radius: 20px;
}

.everythinghasamarginnote {
  margin: 5px;
}

#displayNotes {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#eventHolder {
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 70%;
  background-color: rgba(179, 189, 191, 0.15);
}

/* For Event Calendar */

.eventCalendar.react-calendar {
  top: 0.5vh;
}
.eventCalendar.react-calendar,
.eventCalendar.react-calendar *,
.eventCalendar.react-calendar *:before,
.eventCalendar.react-calendar *:after {
  box-sizing: border-box;
}
.eventCalendar.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.eventCalendar.react-calendar__navigation {
  height: 15px;
  margin-bottom: 0.5em;
}
.eventCalendar.react-calendar__navigation button:enabled:hover {
  background-color: rgb(66, 153, 225);
  border-radius: 5px;
}
.eventCalendar.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.5em 0.25em;
  background: none;
  font-size: 1em;
  font-family: "serif", "sans-serif";
}
.eventCalendar.react-calendar {
  margin-top: 9vh;
  /* margin-bottom: 2vh; */
  width: 350px;
  max-width: 100%;
  background: white;
  /* border:4px solid #a0a096; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px white;
  font-family: "Sigmar One", sans;
  line-height: 1.125em;
  margin: 0 auto;
}
.eventCalendar.react-calendar,
.eventCalendar.react-calendar *,
.eventCalendar.react-calendar *:before,
.eventCalendar.react-calendar *:after {
  box-sizing: border-box;
}
.eventCalendar.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.eventCalendar.react-calendar button:enabled:hover {
  cursor: pointer;
}
.eventCalendar.react-calendar__navigation {
  height: 10px;
  margin-bottom: 0.5em;
}
.eventCalendar.react-calendar__navigation button {
  min-width: 10px;
  background: none;
  font-size: 0.5em;
  font-family: "sans-serif", "sans-serif";
}
.eventCalendar.react-calendar__navigation button:enabled:hover {
  background-color: rgb(66, 153, 225);
  border-radius: 2.5px;
}
.eventCalendar.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.05em;
  font-family: "sans-serif", "sans-serif";
}
.eventCalendar.react-calendar__month-view__weekdays__weekday {
  padding: 0.05em;
}
.eventCalendar.react-calendar__month-view__days__day--weekend {
  color: red;
}
.eventCalendar.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.eventCalendar.react-calendar__tile {
  max-width: 120%;
  text-align: center;
  padding: 1em 0.5em;
  font-size: 0.3em;
  font-family: "sans-serif", "sans-serif";
}
.eventCalendar.react-calendar__tile:disabled {
  background-color: rgb(66, 153, 225);
  border-radius: 10px;
}
.eventCalendar.react-calendar__tile:enabled:hover {
  background-color: rgb(66, 153, 225);
  border-radius: 10px;
}
.content {
  background-color: red;
}
.eventGoogCalBig {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  background-color: rgba(179, 189, 191, 0.15);
}

.description {
  background-color: rgb(255, 119, 62);
  margin: 0;
  padding: 0 1rem;
  color: white;
  font-size: 1rem;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  color: rgb(255, 119, 62);
}

.price {
  margin: 0;
  padding: 0 1rem 5rem 0;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  text-align: right;
}

.date {
  margin: 0;
  padding: 0 0 5rem 1rem;
  font-weight: lighter;
  font-size: 1rem;
  text-align: left;
  color: black;
}

.seemore {
  text-align: right;
  background-color: rgb(255, 119, 62);
  color: white;
}

.AboutEvent{
  font-size: 2rem;
  font-weight: bold;
  margin:0;
  padding: 0 1rem;
  background-color: rgb(255, 119, 62);
  color: white;
}